# About this file, see:
#   Website: https://editorconfig.org/
#   For Emacs users: https://github.com/editorconfig/editorconfig-emacs
#   For Vim users: https://github.com/editorconfig/editorconfig-vim

root = true

[*]
indent_style = tab
indent_size = 8
tab_width = 8
end_of_line = lf
charset = utf-8
insert_final_newline = true

[{Makefile,Makefile.*,makefile,*.mk}]
trim_trailing_whitespace = true
#max_line_length = 80

[*.{c,cc,C,cxx,cpp,h,hh,H,hxx,hpp,inc,y}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
#max_line_length = 120

[{*.rb,Rakefile,rakefile,*.rake,*.gemspec,*.gembox}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
#max_line_length = 120

[*.bat]
end_of_line = crlf
charset = latin1
#max_line_length = 80

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
