# /
*.bak
*.dylib
*.inc
*.o
*.orig
*.rej
*.sav
*.swp
*.d
*~
.DS_Store
.ccmalloc
.svn
/.git
/bin/mrbc
/bin/mrbc.exe
/bin/mruby
/bin/mruby.exe
/bin/mrubysample
/bin/mrubysample.exe
/lib/ritevm.a
/mrblib/mrblib.c
/mrblib/mrblib.ctmp
/mrblib/mrblib.rbtmp
cscope.out
y.tab.c
