# /
*.bak
*.dylib
*.inc
*.o
*.a
*.orig
*.rej
*.sav
*.swp
*.d
*.ctmp
*.rbtmp
*~
.DS_Store
.ccmalloc
.svn
/.git
cscope.out
/src/y.tab.c
/bin
/mrblib/mrblib.c
/mrblib/*.*tmp
/test/mrbtest
/test/mrbtest.c
/test/*.*tmp
/test/mrubytest.*
CMakeFiles
CMakeCache.txt
/mrbgems/generator
/mrbgems/gem_init.c
/mrbgems/g/Makefile
/mrbgems/g/MakefileGemList
/include/gemsconf.h
