*.bak
*.bc
*.d
*.i
*.lock
*.o
*.orig
*.pdb
*.rej
*.s
*.sav
*.swp
*.tmp
*~
.DS_Store
.cache
.ccls*
.ccmalloc
.git
.svn
.vscode
.yardoc
benchmark/**/*.dat
benchmark/*.pdf
benchmark/*.png
bin
build
doc/api
doc/capi
compile_commands.json
compile_flags.txt
cscope.files
cscope.out
gmon.out
mruby-source-*.gem
node_modules
perf.data*
tags
!Gemfile.lock
y.tab.c
