# Toolchain file for building with OpenWRT Toolchain for MIPS.
# This is a preliminary version for mips outside of the buildroot-ng.
# The next version should be target independent.
# Further improvements:
#   - use ENV variables in OpenWRT toolchain (like HOSTCC, TARGET_CC)
#   - set flags properly for host and target

set(CMAKE_SYSTEM_NAME Linux)
set(TOOLCHAIN_PREFIX mips-openwrt-linux)
set(CMAKE_C_COMPILER ${TOOLCHAIN_PREFIX}-gcc)
