# https://github.com/google/oss-fuzz
name: CIFuzz
on: [pull_request]
permissions:
  contents: read

jobs:
  Fuzzing:
    runs-on: ubuntu-latest
    steps:
      - name: Build Fuzzers
        uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master
        with:
          oss-fuzz-project-name: "mruby"
          dry-run: false
      - name: Run Fuzzers
        uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master
        with:
          oss-fuzz-project-name: "mruby"
          fuzz-seconds: 600
          dry-run: false
      - name: Upload Crash
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: artifacts
          path: ./out/artifacts
